.home-page-text {
    position: relative;
    text-align: center;
    color: black;
  }
  
  .info {
    position: absolute;
    top: 18%;
    left: 28.5%;
  }
  
  .notes-title {
    position: absolute;
    top: 15%;
    left: 56%;
  }
  .notes {
    position: absolute;
    top: 20%;
    left: 53.35%;
  }
  
